*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/.externalNativeBuild
/app/build
/gradle
/SpeechToText/build
/TextTranslate/build
/TextTranslateWithCloud/build
/TranslateAPI/build
/.idea
/gradlew
/gradlew.bat